*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --box-size: 100px;
    --player-sign-size: calc(var(--box-size) * .9);
}

body {
    margin: 0;
    background: #e43a15;
    background: -webkit-linear-gradient(to right, #e65245, #e43a15);
    background: linear-gradient(to right, #e65245, #e43a15);
}

.game {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.box {
    width: var(--box-size);
    height: var(--box-size);
    border: 3px solid #eadbf4;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.box:first-child,
.box:nth-child(2),
.box:nth-child(3) {
    border-top: none;
}

.box:nth-child(3n+3) {
    border-right: none;
}

.box:nth-child(3n+1) {
    border-left: none;
}

.box:last-child,
.box:nth-child(8),
.box:nth-child(7) {
    border-bottom: none;
}

.box.o, .box.x {
    cursor: not-allowed;
}

.box.x::before, .box.x::after {
    content: '';
    position: absolute;
    width: calc(var(--player-sign-size) * .22);
    height: var(--player-sign-size);
    background-color: #eadbf4;
}

.box.x::before {
    transform: rotate(45deg);
}

.box.x::after {
    transform: rotate(-45deg);
}

.box.o::before, .box.o::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.box.o::before {
    width: calc(var(--player-sign-size)*.9);
    height: calc(var(--player-sign-size)*.9);
    background-color: #eadbf4;
}

.box.o::after {
    width: calc(var(--player-sign-size)*.5);
    height: calc(var(--player-sign-size)*.5);
    background-color: #e43a15;
}